<div class="container-wrapper">
  <div
    class="page-bg"
    style="background-image: url(assets/images/bg-margarita.jpg)"
  ></div>
  <div id="fullwidth-container">
    <!-- start container -->
    <div class="page-title-wrapper">
      <div class="page-title-outher">
        <div class="page-title-inner">
          <span class="page-title-icon flaticon-pizza-slice"></span>
          <h1 class="page-title">Pizzas</h1>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="page-wrapper">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Topping</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Anchovy</option>
                  <option>Basil</option>
                  <option>Black_Olives</option>
                  <option>Blueberries</option>
                  <option>Garlic</option>
                  <option>Ground_Beef</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Sauce</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Tomato</option>
                  <option>Nutella_Sauce</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Crust</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Cheese_Edge</option>
                  <option>Regular_Thin_Crust</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"></div>
            </div>
            <button type="submit">Save</button>
          </div>
        </form>
      </div>
      <div class="offer-menu2-wrapper">
        <div class="offer-menu2-items"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end page wrapper -->
  </div>
  <!-- end container -->
  <div class="clear"></div>
</div>
