<div class="container-wrapper">
  <div class="page-bg" style="background-image: url(assets/images/bg-margarita.jpg)"></div>
  <div id="container">
    <!-- start container -->
    <div class="page-title-wrapper">
      <div class="page-title-outher">
        <div class="page-title-inner">
          <span class="page-title-icon flaticon-pizza-slice"></span>
          <h1 class="page-title">Blog</h1>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="page-wrapper">
      <div class="main main-blog">
        <div class="posts-wrapper">
          <div class="post-wrap">
            <div class="post-inside-wrap">
              <h1 class="post-title">
                <a
                  href="#"
                  target="_self"
                  title="Best Pizza in the City is now more delicious and more tasty"
                  >Best Pizza in the City is now more delicious and more
                  tasty</a
                >
              </h1>
              <div class="post-categories">
                <div class="post-categories-names">
                  <a href="#" title="Franchises">Franchises</a
                  ><a href="#" title="New">New</a
                  ><a href="#" title="Pizza">Pizza</a>
                </div>
              </div>
              <a
                title="Best Pizza in the City is now more delicious and more tasty"
                href="#"
                class="post-type-link"
              >
                <img
                  src="assets/upload/post3.jpg"
                  alt="Best Pizza in the City is now more delicious and more tasty"
                />
                <div class="view-overlay-icon pe-7s-plus"></div>
                <div class="view-overlay-bg"></div>
              </a>
              <ul class="post-details">
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-date"></span>February 2,
                  2017
                </li>
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-users"></span>albertos
                </li>
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-chat"></span
                  ><a href="#">0<span> Comments</span></a>
                </li>
              </ul>
              <div class="clear"></div>
              <div class="post_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Curabitur
                  suscipit erat sit amet erat viverra, nec cursus lacus commodo.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Etiam a luctus
                  justo. Nulla sed iaculis ipsum. Mauris non leo posuere,
                  convallis ligula sit amet, ornare sem. Curabitur suscipit erat
                  sit amet erat viverra, nec cursus lacus commodo.
                </p>
              </div>
              <div class="clear"></div>
              <div class="post-read-more-wrap">
                <a
                  class="post-read-more"
                  href="#"
                  title="Best Pizza in the City is now more delicious and more tasty"
                  >Read more</a
                >
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="post-wrap">
            <div class="post-inside-wrap">
              <h1 class="post-title">
                <a
                  href="#"
                  target="_self"
                  title="Hot new Pizza in our offer. Please give it a try and comment if is good"
                  >Hot new Pizza in our offer. Please give it a try and comment
                  if is good</a
                >
              </h1>
              <div class="post-categories">
                <div class="post-categories-names">
                  <a href="#" title="New">New</a
                  ><a href="#" title="Pizza">Pizza</a
                  ><a href="#" title="WordPress">WordPress</a>
                </div>
              </div>
              <a
                title="Hot new Pizza in our offer. Please give it a try and comment if is good"
                href="#"
                class="post-type-link"
              >
                <img
                  src="assets/upload/post2.jpg"
                  alt="Hot new Pizza in our offer. Please give it a try and comment if is good"
                />
                <div class="view-overlay-icon pe-7s-plus"></div>
                <div class="view-overlay-bg"></div>
              </a>
              <ul class="post-details">
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-date"></span>February 2,
                  2017
                </li>
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-users"></span>albertos
                </li>
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-chat"></span
                  ><a href="#">0<span> Comments</span></a>
                </li>
              </ul>
              <div class="clear"></div>
              <div class="post_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Curabitur
                  suscipit erat sit amet erat viverra, nec cursus lacus commodo.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Curabitur
                  suscipit erat sit amet erat viverra, nec cursus lacus commodo.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit ame&#8230;
                </p>
              </div>
              <div class="clear"></div>
              <div class="post-read-more-wrap">
                <a
                  class="post-read-more"
                  href="#"
                  title="Hot new Pizza in our offer. Please give it a try and comment if is good"
                  >Read more</a
                >
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="post-wrap">
            <div class="post-inside-wrap">
              <h1 class="post-title">
                <a
                  href="#"
                  target="_self"
                  title="We are opening a New franchise in Miami with new Pizza designs"
                  >We are opening a New franchise in Miami with new Pizza
                  designs</a
                >
              </h1>
              <div class="post-categories">
                <div class="post-categories-names">
                  <a href="#" title="Franchises">Franchises</a
                  ><a href="#" title="Pizza">Pizza</a>
                </div>
              </div>
              <a
                title="We are opening a New franchise in Miami with new Pizza designs"
                href="#"
                class="post-type-link"
              >
                <img
                  src="assets/upload/slide3.jpg"
                  alt="We are opening a New franchise in Miami with new Pizza designs"
                />
                <div class="view-overlay-icon pe-7s-plus"></div>
                <div class="view-overlay-bg"></div>
              </a>
              <ul class="post-details">
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-date"></span>February 1,
                  2017
                </li>
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-users"></span>albertos
                </li>
                <li class="post-detail-single">
                  <span class="post-detail-icon pe-7s-chat"></span
                  ><a href="#">4<span> Comments</span></a>
                </li>
              </ul>
              <div class="clear"></div>
              <div class="post_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Curabitur
                  suscipit erat sit amet erat viverra, nec cursus lacus commodo.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Curabitur
                  suscipit erat sit amet erat viverra, nec cursus lacus commodo.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  a luctus justo. Nulla sed iaculis ipsum. Mauris non leo
                  posuere, convallis ligula sit amet, ornare sem. Curabitur
                  suscipit erat sit amet erat viverra, nec cursus lacus commodo.
                </p>
              </div>
              <div class="clear"></div>
              <div class="post-read-more-wrap">
                <a
                  class="post-read-more"
                  href="#"
                  title="We are opening a New franchise in Miami with new Pizza designs"
                  >Read more</a
                >
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="pagination-wrapper"></div>
      </div>
    </div>
    <!-- end page wrapper -->
  </div>
  <!-- end container -->
  <div class="clear"></div>
</div>
