<div class="container-wrapper">
  <div class="page-bg" style="background-image: url(assets/images/bg-margarita.jpg)"></div>
  <div id="container">
    <!-- start container -->
    <div class="page-title-wrapper">
      <div class="page-title-outher">
        <div class="page-title-inner">
          <span class="page-title-icon flaticon-pizza-slice"></span>
          <h1 class="page-title">Menu</h1>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="page-wrapper">
      <div class="offer-menu-wrapper">
        <ul
          id="filters"
          class="single-offer-category-filter option-set"
          data-option-key="filter"
        >
          <li class="filter-cat">
            <a class="selected" href="#filter" data-option-value=".cat1"
              >Pizza</a
            >
          </li>
          <li class="filter-cat">
            <a href="#filter" data-option-value=".cat2">Pizza Slice</a>
          </li>
          <li class="filter-cat">
            <a href="#filter" data-option-value=".cat3">Pizza Rolls</a>
          </li>
          <li class="filter-cat">
            <a href="#filter" data-option-value=".cat4">Box</a>
          </li>
          <li class="filter-cat">
            <a href="#filter" data-option-value=".cat5">Topings</a>
          </li>
        </ul>

        <div class="offer-menu-items">
          <div class="single-offer-category-item isotope-item cat1">
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Hawaii</div>
                <div class="single-offer-content">
                  <p>Pineapple, mushrooms, black olives, tomato sauce</p>
                </div>
              </div>
              <div class="single-offer-price">$5.50</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Freshness</div>
                <div class="single-offer-content">
                  <p>
                    Fresh tomatoes, garlic, red onion, cheese, minced
                    meat, dandelion, olives
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$8.40</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">From sea</div>
                <div class="single-offer-content">
                  <p>
                    Olive, meta, squid, shrimps, fresh mushrooms, fresh red
                    tomatoes, cheese
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.40</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Calzone</div>
                <div class="single-offer-content">
                  <p>
                    Cup fresh ricotta, parmesan, chopped basil, pepper, tomato
                    sauce, fresh mozzarella
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$7.10</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Classic</div>
                <div class="single-offer-content">
                  <p>
                    Pepperoni, cheese, black olives, tomatoe sauce, mushrooms,
                    meat, onion, salad
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.10</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Neapolitan</div>
                <div class="single-offer-content">
                  <p>
                    Tomato, oregano, garlic, extra virgin olive oil, pepperoni,
                    cheese, red onion, sauce, mushrooms
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.20</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Farmer</div>
                <div class="single-offer-content">
                  <p>
                    Fresh mushrooms, fresh green bell peppers, tomatoes, black
                    olives, meat, sausages
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$7.40</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Mexican</div>
                <div class="single-offer-content">
                  <p>
                    Refried beans, red enchilada sauce, blend cheese, nacho,
                    corn, onion, salsa, chorizo
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.50</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Margherita</div>
                <div class="single-offer-content">
                  <p>
                    Pepperoni, cheese, black olives, tomatoe sause, mushrooms,
                    onion
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.90</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="single-offer-category-item isotope-item cat2">
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">From sea</div>
                <div class="single-offer-content">
                  <p>
                    Olive, meta, squid, shrimps, fresh mushrooms, fresh red
                    tomatoes, cheese
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.40</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Classic</div>
                <div class="single-offer-content">
                  <p>
                    Pepperoni, cheese, black olives, tomatoe sauce, mushrooms,
                    meat, onion, salad
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.10</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Farmer</div>
                <div class="single-offer-content">
                  <p>
                    Fresh mushrooms, fresh green bell peppers, tomatoes, black
                    olives, meat, sausages
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$7.40</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Margherita</div>
                <div class="single-offer-content">
                  <p>
                    Pepperoni, cheese, black olives, tomatoe sause, mushrooms,
                    onion
                  </p>
                </div>
              </div>
              <div class="single-offer-price">$6.90</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="single-offer-category-item isotope-item cat3">
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">TUNA, CHEESE, ONION, CORN</div>
                <div class="single-offer-content">
                  <p>Big portion 6 pieces</p>
                </div>
              </div>
              <div class="single-offer-price">$2.80</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Tuna, cheese, onion, corn</div>
                <div class="single-offer-content">
                  <p>Small portion 3 pieces</p>
                </div>
              </div>
              <div class="single-offer-price">$2.30</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Salami, cheese</div>
                <div class="single-offer-content">
                  <p>Big portion 6 pieces</p>
                </div>
              </div>
              <div class="single-offer-price">$2.00</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Salami, cheese</div>
                <div class="single-offer-content">
                  <p>Small portion 3 pieces</p>
                </div>
              </div>
              <div class="single-offer-price">$1.60</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Cheese, ham</div>
                <div class="single-offer-content">
                  <p>Big portion 6 pieces</p>
                </div>
              </div>
              <div class="single-offer-price">$1.60</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Cheese, ham</div>
                <div class="single-offer-content">
                  <p>Small portion 3 pieces</p>
                  <p>&nbsp;</p>
                </div>
              </div>
              <div class="single-offer-price">$1.20</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="single-offer-category-item isotope-item cat4">
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Slice</div>
                <div class="single-offer-content">
                  <p>Box for slice pizza size</p>
                </div>
              </div>
              <div class="single-offer-price">$0.20</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Topings</div>
                <div class="single-offer-content">
                  <p>Box for all topings</p>
                </div>
              </div>
              <div class="single-offer-price">$0.10</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Family</div>
                <div class="single-offer-content">
                  <p>Box for family pizza size</p>
                </div>
              </div>
              <div class="single-offer-price">$0.50</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Normal</div>
                <div class="single-offer-content">
                  <p>Box for normal pizza size</p>
                </div>
              </div>
              <div class="single-offer-price">$0.30</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="single-offer-category-item isotope-item cat5">
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Vegies</div>
                <div class="single-offer-content">
                  <p>Rucola, corn, parsley, beans, tomatoes, peppers</p>
                </div>
              </div>
              <div class="single-offer-price">$0.60</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Sauce</div>
                <div class="single-offer-content">
                  <p>Chilli, joghurt, italian, pelati</p>
                </div>
              </div>
              <div class="single-offer-price">$0.30</div>
              <div class="clear"></div>
            </div>
            <div class="single-offer-item">
              <div class="single-offer-details">
                <div class="single-offer-title">Cheese</div>
                <div class="single-offer-content">
                  <p>Nacho, cheddar, monterey, brick</p>
                </div>
              </div>
              <div class="single-offer-price">$0.50</div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- end page wrapper -->
  </div>
  <!-- end container -->
  <div class="clear"></div>
</div>
