<div class="container-wrapper">
  <div class="page-bg" style="background-image: url(assets/images//bg-margarita.jpg)"></div>
  <div id="container" class="template-contact-container">
    <!-- start container -->
    <div class="page-title-wrapper">
      <div class="page-title-outher">
        <div class="page-title-inner">
          <span class="page-title-icon flaticon-pizza-slice"></span>
          <h1 class="page-title">Contact</h1>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="page-wrapper">
      <div class="contact-maps">
        <div id="map_canvas" class="mapStyleClass"></div>
      </div>
      <div class="contact-info-wrapper">
        <div class="contact-details">
          <div class="contact-detail contact-detail1">
            <div class="contact-detail-title">Address</div>
            <div class="contact-detail-content">
              <p>
                3021 Lady Bug Drive<br />
                Brooklyn, NY 11230, USA
              </p>
            </div>
          </div>
          <div class="contact-detail contact-detail2">
            <div class="contact-detail-title">Call or write</div>
            <div class="contact-detail-content">
              <p>
                <strong>Phone / </strong>00386 40 868 300<br />
                <strong>Email / </strong>info@somedomain.com
              </p>
            </div>
          </div>
          <div class="contact-detail contact-detail3">
            <div class="contact-detail-title">Opening hours</div>
            <div class="contact-detail-content">
              <p>
                <strong>Mon – Fri / </strong>8am – 11pm<br />
                <strong>Saturday / </strong>8am – 1am<br />
                <strong>Sunday</strong> (closed)
              </p>
            </div>
          </div>
        </div>
        <div class="contact-form-wrapper">
          <div
            role="form"
            class="wpcf7"
            id="wpcf7-f49-p15-o1"
            lang="en-US"
            dir="ltr"
          >
            <div class="screen-reader-response"></div>

            <form id="contact-form" action="#">
              <div class="albertos-contact-form">
                <div class="contact-detail-title">Contact Form</div>
                <div class="app-name">
                  <span class="wpcf7-form-control-wrap name-input">
                    <input
                      name="name"
                      id="name"
                      type="text"
                      value=""
                      size="40"
                      class="
                        wpcf7-form-control
                        wpcf7-text
                        wpcf7-validates-as-required
                      "
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Name"
                  /></span>
                </div>
                <div class="app-phone">
                  <span class="wpcf7-form-control-wrap email-input">
                    <input
                      name="mail"
                      id="mail"
                      type="text"
                      value=""
                      size="40"
                      class="
                        wpcf7-form-control
                        wpcf7-text
                        wpcf7-email
                        wpcf7-validates-as-required
                        wpcf7-validates-as-email
                      "
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Email"
                  /></span>
                </div>
                <p>
                  <span class="wpcf7-form-control-wrap appointment-message">
                    <textarea
                      name="comment"
                      id="comment"
                      cols="40"
                      rows="10"
                      class="
                        wpcf7-form-control
                        wpcf7-textarea
                        wpcf7-validates-as-required
                      "
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Message"
                    ></textarea>
                  </span>
                </p>
                <div class="clear"></div>
                <div class="contact-submit">
                  <input
                    type="submit"
                    value="Send message"
                    class="wpcf7-form-control wpcf7-submit"
                    id="submit_contact"
                  />
                  <div id="msg" class="message"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- end page wrapper -->
  </div>
  <!-- end container -->
  <div class="clear"></div>
</div>
