<div id="header" class="header-wrapper">
  <div class="logo">
    <a href="index.html" title="ALBERTOS - Pizza HTML Theme"
      ><img
        class="logoImage"
        src="assets/images/logo.png"
        alt="ALBERTOS - Pizza HTML Theme" /><img
        class="logoImageRetina"
        src="assets/images/logo-retina.png"
        alt="ALBERTOS - Pizza HTML Theme"
    /></a>
    <div class="clear"></div>
  </div>
  <div class="menu-wrapper">
    <div class="main-menu">
      <div class="menu-main-nav-menu-container">
        <ul id="menu-main-nav-menu" class="sf-menu">
          <li
            class="menu-item menu-item-home current-menu-item current_page_item"
          >
            <a routerLink="">Home</a>
          </li>
          <li class="menu-item"><a routerLink="menu">Menu</a></li>
          <li class="menu-item"><a routerLink="pizzas">Pizzas</a></li>
          <li class="menu-item"><a routerLink="about-us">About us</a></li>
          <li class="menu-item"><a routerLink="contact">Contact</a></li>
          <li class="menu-item"><a routerLink="blog">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="menu-icons-inside">
      <div class="menu-icon menu-icon-mobile">
        <span class="menu-icon-create"></span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="footer">
    <div class="footer-socials">
      <ul class="socials-sh">
        <li>
          <a
            class="fa sh-socials-url fa-twitter"
            href="#"
            title="Twitter"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa sh-socials-url fa-facebook"
            href="#"
            title="Facebook"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa sh-socials-url fa-linkedin"
            href="#"
            title="LinkedIn"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa sh-socials-url fa-google-plus"
            href="#"
            title="Google Plus"
            target="_blank"
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      @ 2017 Alberto's. Made by
      <a
        href="http://themeforest.net/user/max-themes/portfolio"
        title="Pego HTML Themes"
        >Max-Themes</a
      >.
    </div>
  </div>
</div>
<div class="mobile-menu-wrapper">
  <div class="menu-main-nav-menu-container">
    <ul id="menu-main-nav-menu-1" class="mobile-menu">
      <li class="menu-item menu-item-home current-menu-items current_page_item">
        <a routerLink="">Home</a>
      </li>
      <li class="menu-item"><a routerLink="menu" routerLinkActive>Menu</a></li>
      <li class="menu-item">
        <a routerLink="pizzas" routerLinkActive>Pizzas</a>
      </li>
      <li class="menu-item">
        <a routerLink="about-us" routerLinkActive>About us</a>
      </li>
      <li class="menu-item">
        <a routerLink="contact" routerLinkActive>Contact</a>
      </li>
      <li class="menu-item"><a routerLink="blog" routerLinkActive>Blog</a></li>
    </ul>
  </div>
</div>
