<div class="animsition global-wrapper">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <!-- end container-wrapper -->
  <div class="footer2">
    <div class="footer-socials">
      <ul class="socials-sh">
        <li>
          <a
            class="fa sh-socials-url fa-twitter"
            href="#"
            title="Twitter"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa sh-socials-url fa-facebook"
            href="#"
            title="Facebook"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa sh-socials-url fa-linkedin"
            href="#"
            title="LinkedIn"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa sh-socials-url fa-google-plus"
            href="#"
            title="Google Plus"
            target="_blank"
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      @ 2017 Alberto's. Made by
      <a
        href="http://themeforest.net/user/max-themes/portfolio"
        title="Pego HTML Themes"
        >Pego</a
      >
      &amp; <a href="https://HTML.org/" title="HTML Themes">HTML</a>.
    </div>
  </div>
</div>



